<p>
Dear <%= @name %>,
</p>

<p>
Thanks again for your interest in OpeningDesign.com.  We’re excited to share the experience with you when we finally launch.
</p>

<p>
In the meantime, if you like, either drop us an email at <a href="mailto:hello@openingdesign.com">hello@openingdesign.com</a> or shoot us a Tweet @Opening_Design.  We’d love to hear what you think. 
</p>

<p>
Kind Regards,<br/>
Ryan Schultz<br/>
<a href="http://www.linkedin.com/in/ryanschultz">www.linkedin.com/in/ryanschultz</a>
</p>

