<div class="row">
  <div class="span12">
    <%= render :partial => '/nodes/breadcrumbs', :locals => { :node => @sketchspace } %>
    <h1>Editing <%= t 'sketchspace' %></h1>
    <%= render 'form' %>
  </div>
</div>
