
<div class="wrapper" >
  <div class="aboutheader"><span class="aboutheader_text1">A social, open-source platform to co-design and co-work with fellow architects and engineers.</span> <span class="aboutheader_text2">...via real-time collaboration tools.</span> </div>
  <div class="seven">
    <div class="blurb" style="width:198px;position:absolute;left:711px;top:83px">
      <div class="blurb_title">Open Collaboration <span class="gray1">(1/7)</span> </div>
      OpeningDesign.com is a <span class="blue">Space</span> where architects and engineers can openly design, problem solve, and share content with fellow architects and engineers. </div>
    <img src="../images/1of7.png" /></div>
  <div class="seven">
    <div class="blurb" style="width:198px;position:absolute;left:97px;top:90px">
      <div class="blurb_title">Share Design(ing)<span class="gray1"> (2/7)</span> </div>
      A <span class="blue">Space</span> where you can share the nitty-gritty, messiness of your designs as they evolve over time.  A <span class="blue">Space</span> to improve your designs through feedback and critique of fellow designers. </div>
    <img src="../images/2of7.png" /> </div>
  <div class="seven">
    <div class="blurb" style="width:215px;position:absolute;left:715px;top:90px">
      <div class="blurb_title">Remix & Refine<span class="gray1"> (3/7)</span> </div>
      With help of version tracking, open-source licensing, and rating systems, OpeningDesign is a <span class="blue">Space</span> that enables and encourages users to remix and refine content over time—whether it’s a standard BIM/CAD detail or an evolving spec document. </div>
    <img src="../images/3of7.png" /> </div>
  <div class="seven">
    <div class="blurb" style="width:217px;position:absolute;left:41px;top:124px">
      <div class="blurb_title">For Small A/E/C Firms<span class="gray1"> (4/7)</span> </div>
      A <span class="blue">Space</span> where small firms and sole proprietors can enjoy ‘large firm’ resources.  Whether it’s asking or answering a building code question, sharing a spec document, or simply setting up an online charrette to solicit real-time feedback from your fellow designers. </div>
    <img src="../images/4of7.png" /> </div>
  <div class="seven">
    <div class="blurb" style="width:217px;position:absolute;left:731px;top:124px">
      <div class="blurb_title">Sketch in Real-time<span class="gray1"> (5/7)</span> </div>
      A <span class="blue">Space</span> that allows you to move beyond a simple text-based communication and allows you to co-view and sketch out your problems/solutions in real-time. </div>
    <img src="../images/5of7.png" /> </div>
  <div class="seven">
    <div class="blurb" style="width: 239px;
position: absolute;
left: 121px;
top: 301px;">
      <div class="blurb_title">Work Publicly/Privately<span class="gray1"> (5/7)</span> </div>
      There’s Open<span class="blue">Spaces</span>, when you want to design with, and alongside, the rest of the world and Closed<span class="blue">Spaces</span> when your team of collaborators needs a more secure, private space to communicate and share files. </div>
    <img src="../images/6of7.png" /> </div>
  <div class="seven">
    <div class="blurb" style="width: 233px;
position: absolute;
left: 696px;
top: 127px;">
      <div class="blurb_title">Personalize Notifications<span class="gray1"> (7/7)</span> </div>
OpeningDesign is <span class="blue">Space</span> that allows you to control ‘who’ or ‘what’ you are interested in following, whether it’s keeping track of project updates from your team of collaborators, or being notified when someone answers your open technical question. </div>
    <img src="../images/7of7.png" /> </div>
  <div class="seven">
    <div class="blurb" style="
font-size:17px;position: absolute;
left: 205px;
top: 167px;"> Create your own <span class="blue">Space</span> </div>
    <button onClick="parent.location='/projects/new'" style="
position: absolute;
left: 628px;
top: 160px;" type="button">Create a Space</button>
    <img src="../images/createspace.png" /> </div>
</div>
