<div class="corner_gradient">
	<h1>The Team</h1>
	<table>
		<tbody>
			<tr>
				<td>
				<div class = "shadowy_IMG"><img class="about_profilepic push_IMG_back" src="../images/Image_0383-01.jpg">
				</div></td>
				<td rowspan="2">
				<div class="about_usparagraph">
					Ryan, a practicing architect in Chicago, decided it ought to be easier. He was determined to do something about it. Leveraging his previous experience developing an application to facilitate crowdsourcing of building design through a project called <a href="http://studiowikitecture.wordpress.com/about/">Studio Wikitecture</a>, he started OpeningDesign.com. He's one of those geeky, techy architects who reads about open-source platforms for fun.
				</div><a href="http://www.linkedin.com/in/ryanschultz"><img class = "small_IMG floatright" alt="Linkedin" src="../assets/linkedin.png" data-original-title=""></a></td>
			</tr>
			<tr>
				<td>
				<div class="about_nameunderpic">
					<p>
						Ryan Schultz
						<br>
						Founder
					</p>
				</div></td>
			</tr>
		</tbody>
	</table>
		<table>
		<tbody>
			<tr>
				<td>
				<div class = "shadowy_IMG"><img alt="" class="about_profilepic push_IMG_back" src="../images/chris.jpg">
				</div></td>
				<td rowspan="2">
				<div class="about_usparagraph">
					Chris has been creating software solutions for very small and not-so-small-anymore companies and ventures since 1994 in the IT industry in Germany, The Netherlands and South Africa. He enjoys supporting enterprise processes through the help of innovative software solutions.  Over the years, he has always enjoyed writing good code and to implement effective and efficient software development processes.
				</div><a href="http://za.linkedin.com/pub/christian-oloff/2/281/21"><img class = "small_IMG floatright" alt="Linkedin" src="../assets/linkedin.png" data-original-title=""></a></td>
			</tr>
			<tr>
				<td>
				<div class="about_nameunderpic">
					<p>
						Chris Oloff
						<br>
						Software Engineering
					</p>
				</div></td>
			</tr>
		</tbody>
	</table>
	<table>
		<tbody>
			<tr>
				<td>
				<div class = "shadowy_IMG"><img alt="" class="about_profilepic push_IMG_back" src="../images/headshotOscia.jpg">
				</div></td>
				<td rowspan="2">
				<div class="about_usparagraph">
					Thank god he has Oscia on his team. She's more of the pencil-on-trace kind of architect, but they agree on the big idea: buildings get designed by teams of people putting their heads together, so collaboration needs to be easier. Oscia is a member of the AIA California Council's committee on Integrated Project Delivery, and is one of those architects who feels quite at home razzing the contractor for his pathetic game of pool.
				</div><a href="http://www.linkedin.com/in/osciatimschell"><img class = "small_IMG floatright" alt="Linkedin" src="../assets/linkedin.png" data-original-title=""></a></td>
			</tr>
			<tr>
				<td>
				<div class="about_nameunderpic">
					<p>
						Oscia Wilson
						<br>
						Marketing
					</p>
				</div></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>
				<div class = "shadowy_IMG"><img alt="" class="about_profilepic push_IMG_back" src="../images/mb2.jpg">
				</div></td>
				<td rowspan="2">
				<div class="about_usparagraph">
					Mary Beth rounds out the team with a much needed perspective from outside the building industry. Mary Beth, who has successfully led multiple high-profile interactive design and web build projects, has 10 years of experience in interactive project management and most recently in business operations for a team of 75+ people. Mary Beth has worked for notable companies such as Walt Disney Internet Group, The Publicis Groupe and J. Walter Thompson. Mary Beth brings extensive knowledge in managing multi-million budgets and corresponding timelines, scope development, process documentation and compliance, systems and tools training and overall team integration with partners and clients.
				</div><a href="http://www.linkedin.com/pub/mary-beth-schultz/1b/50b/ba0"><img class = "small_IMG floatright" alt="Linkedin" src="../assets/linkedin.png" data-original-title=""></a></td>
			</tr>
			<tr>
				<td>
				<div class="about_nameunderpic">
					<p>
						Mary Beth Jaworski
						<br>
						Operations
					</p>
				</div></td>
			</tr>
		</tbody>
	</table>

	<div class="about_personentry"></div>
</div>