<html>
  <body>
    <table style="background: #F7F7F7;" width="580">
      <tr>
        <td style="text-align: center;">
          <a href="http://www.openingdesign.com">
            <%# TODO: image taken from blog %>
            <img src="http://static.tumblr.com/qazokmp/13dlhi8rn/openingdesign_logo_blog_copy.png"
            alt="OpeningDesign"/>
          </a>
        </td>
      </tr>
      <tr>
        <td style="font-size: 15px; font-family:Helvetica,Arial,sans-serif; color:#3c3c3c; padding:12px;">
          <%= yield %>
        </td>
      </tr>
      <tr>
        <td style="text-align: center;
          font-size: 11px;
          padding-top: 1em;
          padding-bottom: 1em;
          font-family:Helvetica,Arial,sans-serif;color:#949090;margin:0px;padding-top:2px">
          <p><a href="http://www.openingdesign.com">OpeningDesign</a>
          is currently busy launching. Thanks for your interest and support!</p>
        </td>
      </tr>
    </table>
  </body>
</html>
